/* alarm-switchery defaults. */

.alarm-switchery {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  position: relative;
  vertical-align: middle;
  width: 50px;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: content-box;
  background-clip: content-box;
}

.alarm-switchery > small {
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  height: 30px;
  position: absolute;
  top: 0;
  width: 30px;
}

.switchery-default {
  background-color: rgb(255, 255, 255);
  border-color: rgb(223, 223, 223);
  box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;

  transition: border 0.4s,
  box-shadow 0.4s,
  background-color 1.2s;
}

.switchery-default.active > small{
  left: 0px;
  transition: background-color 0.4s,
  left 0.2s;
  background-color:
  rgb(255, 255, 255);
}

.switchery-default.active {
  background-color: rgb(100, 189, 99);
  border-color: rgb(100, 189, 99);
  box-shadow: rgb(100, 189, 99) 0px 0px 0px 16px inset;
}

.switchery-default.active > small{
  left: 20px;
}
