.alarm-list {
  
}

.alarm-item {
  color: #FFFFFF;
  background-color: #171717;
  border-bottom: 1px solid #313131;
  margin-left: 20px;
  padding: 5px 0;
}

.alarm-details {
  flex-grow: 1;
}

.alarm-details.edit {
  cursor: pointer;
}

.alarm-time {
  color: #656565;
  font-size: 60px;
  line-height: 1;
}

.active .alarm-time {
  color: #FFFFFF;
}

.alarm-label {
  color: #656565;
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
}

.alarm-switchery-container {
  align-items: center;
  justify-content: center;
  flex-basis: 50px;
  padding: 0 10px;
}

.alarm-delete {
  align-items: center;
  justify-content: center;
  flex-basis: 50px;
  padding: 0 10px;
  cursor: pointer;
}

.alarm-delete .fa-minus-circle:before {
  font-size: 30px;
  color: #FC3D39;
}

.alarm-angle-right {
  align-items: center;
  justify-content: center;
  flex-basis: 50px;
  padding: 0 10px;
  cursor: pointer;
}

.alarm-angle-right .fa-angle-right:before {
  font-size: 30px;
  color: #656565;
}
